In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
book_data = pd.read_json( "data/data-boeken-bol.json")

In [7]:
book_data.head()

,title,subtitle,price,rating,date
0,"De jongen, de mol, de vos en het paard",None,20.00,None,2021-03-05 14:31:19.636181
1,Ik ga leven,None,20.00,None,2021-03-05 14:31:19.637685
2,Een nieuw sociaal contract,None,20.00,None,2021-03-05 14:31:19.639166
3,De zeven zussen 7 - De zevende zus,None,24.99,None,2021-03-05 14:31:19.640158
4,Master Your Mindset,leef je mooiste leven,21.95,96%,2021-03-05 14:31:19.641645

In [110]:
book_data['rating'] = (book_data['rating'].str.replace(r'%', ''))

correlation = book_data['price'].corr(book_data['rating'].astype(float))

print(correlation)

0.03547099294206888

As you can see there is almost no correlation between the price and the rating.